@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    font-family: "Outfit", sans-serif;
}

.linear-blue {
    background: linear-gradient(90.79deg, #994FFF 0.27%, #4AB6FE 98.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.overflow-lg-hidden {
    overflow: hidden;
}

.group:hover svg path {
    fill: white;
}
.text-white{
    color: white !important;
}

/* ========================= slider css ============================= */

.slick-track {
    display: flex !important;
    gap: 24px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}