@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');
* {
    font-family: "Outfit", sans-serif;
}

.linear-blue {
    background: linear-gradient(90.79deg, #994FFF 0.27%, #4AB6FE 98.57%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.font-open{
    font-family: "Open Sans", serif;
}

.overflow-lg-hidden {
    overflow: hidden;
}

.box-1:hover .svg-box-1 {
    svg path {
        fill: white;
    }
}

.box-2:hover .svg-box-2 {
    svg path {
        fill: white;
    }
}

.box-3:hover .svg-box-3 {
    svg path {
        fill: white;
    }
}

.gradient-border {
    border: 1px solid transparent;
    border-image-source: linear-gradient(90.79deg, #994FFF 0.27%, #4AB6FE 98.57%);
    border-image-slice: 1;
    border-radius: 9999px;
}

.leading-max {
    line-height: 118% !important;
}

.blue-line::after {
    content: "";
    position: absolute;
    border-radius: 100px;
    width: 100%;
    height: 4px;
    top: -10px;
    left: 0;
}

/* ========================= slider css ============================= */

.slick-track {
    display: flex !important;
    gap: 24px !important;
    padding-top: 15px;
    padding-bottom: 15px;
}

@media (max-width:1024.99px) {
    .blue-line::after {
        position: relative;
    }
}